/* Declaring global variables for the colors */
:root {
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --pink: hsl(322, 100%, 66%);
}

/* Some base styling to make it easier to work with sizes on the project*/
html {
    box-sizing: border-box;
    font-size: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* Base styling that applies for the whole page*/

  body {
   margin: 0;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   color: var(--dark-cyan);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--dark-cyan);
  }
  
/* Header */

header {
  background-image: url("images/bg-hero-desktop.svg");
  background-color: var(--pale-cyan);
}

/* -- Menu bar */

.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 80px 0px 80px;
  padding: 50px 0px 50px 0px;
}

.button-white {
  font-weight: 700;
  font-size: 0.8em;
  background-color: white;
  padding: 15px 65px 15px 65px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px lightgrey;
  color: var(--dark-cyan);
  position: relative;
  z-index: 0;
}

.button-link {
  text-decoration: none;
}

/* Button overlay menu */

.button-overlay {
  background-color: white;
  padding: 22px 65px 22px 65px;
  margin-top: -43px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

@media (min-width: 1000px) {
.button-overlay:hover {
  opacity: 0.5;
}
}

/* -- End menu bar */

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin: 0px 80px 0px 80px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.main-image img {
  max-width: 100%;
}

.description {
  max-width: 36%;
  font-weight: 400;
  padding-top: 100px;
}

.button {
  color: white;
  text-align: center;
  background-color: var(--pink);
  border-radius: 50px;
  width: 50%;
  padding: 20px;
  font-size: 0.8em;
  margin-top: 30px;
  }

  /* Button overlay header */

.button-overlay-header {
  background-color: white;
  padding: 30px 20px 30px 20px;
  width: 50%;
  margin-top: -57px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

@media (min-width: 1000px) {
.button-overlay-header:hover {
  opacity: 0.5;
}
}

  /* Feature card */
  main {
    padding-top: 120px;
  }

  .feature, .feature-reverse { /*Main feature card-component*/
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0px 80px 50px 80px;
    padding: 50px 40px 50px 100px;

    border-radius: 15px;
    box-shadow: 0px 0px 10px lightgrey;
  }

  .feature-reverse {
    flex-direction: row-reverse;
  }

 .feature-text {
   padding-right: 20%;
 }

 .feature-reverse .feature-text { /* Different layout for the reverse card */
   padding-right: 0%;
   padding-left: 7%;
 }

 .feature-text p {
   font-weight: 400;
   color: var(--grayish-blue);
 }

 .feature-image img {
   max-width: 100%;
 }

 .feature-reverse .feature-image img { /* Different layout for the reverse card */
   max-width: 72%;
 }

 /* CTA */
 .CTA {
  position: relative;
  margin: auto;
  margin-top: 120px;
  padding: 20px 0px 40px 0px;
  width: 60%;
  text-align: center;
  width: 60%;
  
  border-radius: 15px;
  box-shadow: 0px 0px 5px lightgrey;
  
  display: flex;
  flex-direction: column;

  background-color: white;
 }

 .CTA .cta-title {
  font-size: 1.6em;
 }

 .CTA .button {
  box-shadow: 0px 0px 10px lightgrey;
  margin: auto;
  padding: 5px 25px 5px 25px;
  width: 50%;
 }

 .CTA .button h4, a {
   color: white;
   font-size: 1.4em;
   text-decoration: none;
 }

   /* Button overlay CTA */

.button-overlay-cta {
  background-color: white;
  padding: 40px 290px 40px 290px;
  width: 50%;
  margin: auto;
  margin-top: -78px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

@media (min-width: 1000px) {
.button-overlay-cta:hover {
  opacity: 0.5;
}
}

 /* Footer */

 footer {
   background-color: var(--dark-cyan);
   
   margin-top: -80px;
   padding: 160px 80px 60px 80px;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 100px;
 }

 footer body, p, a, i {
   color: var(--pale-cyan);
   font-size: 0.8em;
 }

 /* -- Footer 1st column */

 .location, .phone-number, .email { /* 3 icons + text in the 1st column */
   display: flex;
   flex-direction: row;
   gap: 20px;
   align-items: flex-start;

   padding: 10px 0px 10px 0px;
 }

 .location a {
   display: block;
   padding-left: 5px;
 }

 .footer-logo {
   padding-bottom: 20px;
 }

 /* -- Footer 2nd column */

 .sitemap {
   padding-top: 70px;
 }

 .sitemap nav a {
    font-size: 1em;
    float: left;
    padding: 5px 0; 
    width: 50%;
 }

 .sitemap nav a:hover {
   text-decoration: underline;
 }

 /* -- Footer 3rd column */

 .footer-3rd-column {
    font-size: 0.75em;
    
    padding-top: 70px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
 }

 .social-media i {
   border: 1px solid white;
   border-radius: 100px;
   
   padding: 8px;
   margin-right: 10px;
   
   font-size: 1em;
 }

 .social-media i:hover {
  border: 1px solid var(--pink);
  color: var(--pink);
 }

 #facebook {
   padding: 8px 10px 8px 10px;
 }

 #instagram {
  padding: 8px 9px 8px 9px;
 }

 .copyright {
   margin-top: 160px;
 }

 /* Attribution */
.attribution, .attribution a {
  color: var(--dark-cyan);
  font-size: 12px;
  text-align: center;
}

.attribution a {
  text-decoration: underline;
}
 